// .hierarchical-dropdown {
//   position: relative;
//   width: 300px;
//   font-family: Arial, sans-serif;
// }

.select-box {
  width: 820px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow {
  font-size: 12px;
}

.options-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  z-index: 1;
  max-height: 200px;
  overflow-y: auto;
}

.option-container {
  padding-left: 10px;
}

.option {
  padding: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.option:hover {
  background-color: #f0f0f0;
}

.sub-options {
  padding-left: 20px;
}
